* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none
}

.content-box {
  position: absolute;
  left: 150px;
  right: 0;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  background: #faf9fb;
  
}

.content {
  width: auto;
  padding: 20px;
  margin-bottom: 50px; /* 为 footer 留出空间 */
  overflow-y: auto; /* 内容超过主体区域高度时添加纵向滚动条 */
}

.content-collapse {
  left: 65px;
}

.container {
  padding: 20px;
  background: #fdfffd;
  border: 2px solid #d5fed9;
  border-radius: 5px;
  height: 700px;
}

.crumbs {
  margin-bottom: 20px;
}

.pagination {
  margin: 10px 0;
  text-align: right;
}

.plugins-tips {
  padding: 20px 10px;
  margin-bottom: 20px;
}

.el-button+.el-tooltip {
  margin-left: 10px;
}

.el-table tr:hover {
  background: #f6faff;
}

.mgb20 {
  margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
  transition: opacity .5s;
}

.move-enter,
.move-leave {
  opacity: 0;
}

/*表单*/
.el-select {
  width: 100%;
}
.table{
  min-width: 750px;
}
.el-dialog__body {
  padding: 10px  20px 0px 10px;
}
