@import "var.scss";
@import "global.scss";

.the-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background-color: $theme-footer-color;
  @include layout(center, center, column);
  p {
    height: 30px;
  }
}
